* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-family: "Ubuntu", sans-serif;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #48dbfb60;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #353b48;
}

.hidden {
  display: none;
}

/* NavBar + Header */

.navbar {
  position: fixed;
  background: transparent;
  width: 100%;
  padding: 30px 0px;

  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 75px;
  height: 75px;
  background-image: url(/assets/img/white_logo.png);
  background-size: contain;
}

.menu {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  z-index: 999;
  display: none;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.navbar-menu a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s linear;
}

.navbar-menu a:hover {
  color: #48dbfb !important;
}

.sticky {
  background: white;
  padding: 18px;
}

.sticky .logo {
  background-image: url(/assets/img/black_logo.png);
}

.sticky .navbar-menu a {
  color: black;
}

.sticky .line {
  stroke: black;
}

#home {
  height: 100vh;
  min-height: 500px;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content {
  width: 100%;
  color: white;
}

#home .content h1 {
  font-size: 60px;
  margin-bottom: 60px;
}

#home .content h1.FR::after {
  content: " Matthieu Leproux";
  animation: animationFR 10s linear infinite;
}

@keyframes animationFR {
  25% {
    content: " développeur web";
  }
  50% {
    content: " super Sympa";
  }
  75% {
    content: ' "Croustimatt"';
  }
}

#home .content h1.ENG::after {
  content: " Matthieu Leproux";
  animation: animationENG 10s linear infinite;
}

@keyframes animationENG {
  25% {
    content: " Web Developper";
  }
  50% {
    content: " Very Nice";
  }
  75% {
    content: ' "Croustimatt"';
  }
}

#home .buttons {
  margin: 75px 0px;
}

#home .buttons a {
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 200px;
  border: 1px solid #48dbfb;
  padding: 14px 0;

  border-radius: 6px;
  transition: 0.2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2) {
  background: #48dbfb;
  color: white;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px 25px 60px;
  cursor: pointer;
  background-color: #f1f1f1;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #48dbfb;
  background-color: #000000;
  font-family: "FontAwesome";
  content: "\f060";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 19px;
  transition: all 0.55s ease;

  transform: rotate(-45deg);
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(225deg);
}

.lang {
  font-size: 20px;
  cursor: default;
}

.switch-lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reseaux {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.res {
  position: relative;
  width: 50px;
  height: 50px;

  background: #f1f1f1;

  margin: 10px;
  border-radius: 30%;
  overflow: hidden;

  color: #48dbfb;
}

a.res {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}
.res svg {
  line-height: 25px;
  font-size: 20px;
  transition: 0.2s linear;
}

.res:hover svg {
  transform: scale(1.3);
  color: #f1f1f1;
}

.res::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #48dbfb;
  transform: rotate(45deg);
  left: -110%;
  top: -100%;
}

.res:hover::before {
  animation: oui 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes oui {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.sm {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.res-sm {
  position: relative;

  width: 50px;
  height: 50px;

  background: transparent;

  color: white;
}

.res-sm svg {
  line-height: 25px;
  font-size: 22px;
  transition: 0.2s linear;
}

.res-sm:hover svg {
  transform: scale(1.3);
  color: #f1f1f1;
}

section {
  padding: 150px 0 100px 0;
  background-color: #f1f1f1;
}

.section-title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: black;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: black;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #48dbfb;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}

.about-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-pic {
  width: 200px;
  border-radius: 50%;
  margin-right: 100px;
}

.about-text {
  flex: 1;
}
.about-text h3 {
  margin: 10px 0;
  color: #444444;
  font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444444;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 14px;
}

.about-text p {
  text-indent: 50px;
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

.skills {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill {
  width: calc(50% - 20px);
  margin: 15px 0;
}

.skill-info {
  display: flex;
  justify-content: space-between;
}

.skill-bar {
  height: 3px;
  background-color: #dddddd;
  margin-top: 14px;
  position: relative;
}

.skill-bar::after {
  content: "";
  height: 6px;
  position: absolute;
  background-color: #48dbfb;
  bottom: 0;
}

.html::after {
  width: 90%;
}

.css::after {
  width: 80%;
}

.js::after {
  width: 60%;
}

.python::after {
  width: 60%;
}

.angular::after {
  width: 50%;
}

.mysql::after {
  width: 50%;
}

section.dark {
  background-color: #353b48;
}

section.dark .section-title {
  color: #f1f1f1;
}

section.dark .section-title::before {
  background: #f1f1f1;
}

section.dark .section-title::after {
  border: 4px solid #353b48;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  width: calc(33% - 20px);
  text-align: center;
  border: 1px solid #48dbfb;
  border-radius: 10px;
  margin: 20px 0;
  padding: 40px 20px;
  color: #ffffff;
  cursor: default;
  transition: 0.3s linear;
}

.service .icon {
  color: #48dbfb;
  font-size: 40px;
  margin-bottom: 20px;
  transition: 0.3s linear;
}

.service h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.service:hover {
  background-color: #48dbfb;
}

.service:hover .icon {
  color: #ffffff;
}

.time-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bloc {
  width: calc(50% - 20px);
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 10px 0;
  padding: 30px;
  position: relative;
}

.bloc::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 120%;
  background-color: #dddddd;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.bloc::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #48dbfb;
  left: -28px;
  top: 30px;
  border-radius: 50%;
}

.bloc h3 {
  font-size: 16px;
  margin: 10px 0;
}

.bloc p {
  font-size: 15px;
  color: #444444;
}

.works {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.work {
  width: calc(33% - 30px);
  height: 250px;
  overflow: hidden;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.work img {
  width: 100%;
  height: 100%;
  transition: 0.4s linear;
}

.work::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #48dbfbcc;
  transition: 0.2s linear;
  opacity: 0;
  transform: scale(0);
}

.work .info {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 40px;
  color: #ffffff;
  transition: 0.4 linear;
  opacity: 0;
}

.work .info .git {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  margin-top: 20px;
}

.work:hover img {
  transform: scale(1.6) rotate(25deg);
}

.work:hover::before,
.work:hover .info {
  opacity: 1;
  transform: scale(1);
}

.note {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  font-size: 11px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-info .item {
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s linear;
}

.contact-info #item1,
#item2,
#item3 {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 120px;
  height: 100px;
  margin: 0 auto;
}

.contact-info .item:hover {
  background-color: #48dbfb;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #ffffff;
}

.nameZone,
.emailZone {
  max-width: calc(50% - 10px);
}

.messageZone {
  min-height: 200px;
  resize: vertical;
}

.contact-form .btn {
  width: 180px;
  background-color: transparent;
  color: #48dbfb;
  border: 2px solid #48dbfb;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s linear;
}

.contact-form .btn:hover {
  color: #ffffff;
  background-color: #48dbfb;
}

footer {
  background: url(../img/banner.jpg) no-repeat center;
  color: #ffffff;
  padding: 80px 0;
  text-align: center;
}

.copyrights {
  margin-bottom: 20px;
  font-size: 15px;
}

.copyrights a {
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500;
}

.goTop {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #48dbfb;
  color: white;
  border-radius: 6px;
  border: none;
  outline: none;
  display: none;
}

@media screen and (max-width: 980px) {
  .menu {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
    text-align: center;
  }

  .navbar-menu a {
    display: block;
    font-size: 35px;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: #f1f1f1;
  }

  .navbar-menu.active {
    right: 0;
  }

  .inner-width {
    max-width: 800px;
  }

  .about-pic {
    margin: 0 auto 60px;
  }

  .about-text {
    flex: 100%;
    text-align: center;
  }

  .service {
    width: calc(50% - 20px);
  }

  .bloc {
    width: calc(100% - 20px);
    margin-left: auto;
  }

  .work {
    width: calc(50% - 20px);
  }

  .contact-info .item {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .inner-width {
    padding: 0 20px;
  }

  .skill {
    width: 100%;
  }

  .service {
    width: 100%;
  }

  .work {
    width: 100%;
  }

  .nameZone,
  .emailZone {
    max-width: 100%;
  }
}
